.controlPanel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .picker {
    cursor: pointer;
    width: 14em;
    padding: 0px 7px 0px 0px;

    :global(.ant-picker-active-bar) {
      margin-left: 0;
    }

    :global(.ant-picker-range-separator) {
      padding: 0 4px;
    }

    input {
      cursor: pointer;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    .suffix {
      font-size: 120%;
      padding-bottom: 2px;
    }
  }

  .rangePicker {
    flex-shrink: 0;
  }

  .activeRange {
    font-weight: 700;
  }
}
